#not-supported{
    display: none;
}
body{
    margin: 0;
    padding: 0;
    background: url(../images/about-background.jpg) no-repeat;

    color: #effaf6;
    height: 100%;
}


body p{
    font-family: Arial, serif;
    font-size: 2em;
    width: 60%;
    margin: 150px 5.20% 22px 0;
}

body a{
    font-family: Arial, serif;
    background-color: #f0f1a0;
    font-size: 1.5em;
    text-decoration: none;
    color: #77784f;
    padding: 0.1em 0.4em;
    text-align: center;
    margin: 0 5.20% 0 0;
}

@media screen and (max-width: 1328px) {
    body p{
        font-size: 1.5em;
        margin-top: 80px;
    }
}

@media screen and (max-width: 1238px) {
    body p{
        font-size: 1.3em;
        margin-top: 60px;
    }
}

@media screen and (max-width: 996px){
    body p{
        font-size: 1.1em;
        margin-top: 40px;
    }
}

@media screen and (max-width: 726px) {
    body{
        background: url(../images/about-background-mobile.jpg) no-repeat fixed center center;
        background-size: cover;

    }
    body p{
        font-size: 1.1em;
        margin: 40px auto;
        width: 80%;
    }
    body a{
        display: block;
        font-size: 1em;
        width: 100px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 412px) {

    body p{
        font-size: 0.9em;
        margin: 40px auto;
        width: 80%;
    }

}
@media screen and (max-width: 320px) {
    body{
        background: #effaf6;
    }
    body p, body a{
        display: none;
    }
    #not-supported{
        display: inline-block;
        text-align: center;
        color: black;
    }
}