
{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/about-style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <title lang="fa" dir="rtl">درباره</title>
</head>
<body>
    <p>
        مسیر زندگی گاهی پر از تاریکی میباشد، کسی میتواند راهنما زندگی‌ات باشد که این مسیر را رفته باشد و راهنمایی تان کند. با ساده‌ ترین چیز های که ما برایتان در اینجا آموزش میدهیم میتوانی نتایجی فوق‌العاده را بگیری.نقطه پایانی جتستجو شما اینجاست. همین اول برایتان تبریک میگوییم بخاطر شجاعت و بخاطر که نگاه متفاوت که درباره زندگی داری و دنبال تغیر هستی. امروز کاری را شما انجام دادید که بسیاری از اطرافیانت انجام نمی‌ دهد. اینجا برای شما سراسر خیر، برکت، خوشبختی و آرامش است که دنیا و آخرت ات را میسازد و میتوانی به نسل های آینده‌ات یک شخص تأثیر گذار باشی نه یک شخص تأثیر پذیر. چیز های را اینجا یاد میگیری که هیچ‌کس تا به حال برایتان نه گفته. فقط و فقط دستان را با ما بدهید تا راهنمای زندگی‌تان شویم.
        برایم ما خیلی مهم هستید و واقعاً دوستتان داریم.
        با سپاس
        خدا همراهتان باشد
    </p>
    <a href="{% url 'home' %}">مقاله ها را ببینید</a>
    <h1 id="not-supported">عرض سکرین کمتر از 8.47 سانتی متر پشتبانی نمی گردد</h1>
</body>
</html>
