{% extends 'base.html' %}
{% load static %}
{% load user_agents %}
{% load custome_tags_filters %}




{% block javascript %}
<script>
    var infinite = new Waypoint.Infinite({
        element: $('.topics-browser')[0],
        handler: function(direction){

        },
        onBeforePageLoad: function () {
          $('.loading').show();
        },
        
        onAfterPageLoad: function ($items) {
          $('.loading').hide();
        }
      });
  </script>

{% endblock %}

{% block content %}
{% get_path_info as path_info %}
{% get_value as keyword %}
<div id="content">
    <div id="main">
        <div id="filter">
            <div id="element">
                <span>مرتب سازی</span>
                <form style = "display: inline" action="" method="get">
                    <select name="order" onchange="this.form.submit()">
                        <option value="visited" 
                        {% if keyword == 'visited' %}
                        selected
                        {% endif %}
                        >بیشترین بازدید</option>
                        <option value="rated"
                        {% if keyword == 'rated' %}
                        selected
                        {% endif %}
                        >بیشترین امتیاز</option>
                        <option value="dated"
                        {% if keyword == 'dated' %}
                        selected
                        {% endif %}
                        >تازه ترین</option>
                    </select>
                    
                </form>
            </div>
        </div>
        <div class="topics-browser">
            
            {% for article in articles %}
                <div class="topic">
                    <!-- {% if request|is_mobile or request|is_tablet %}
                    <div class="mobile-picture">
                        <img src="{{ article.picture_detail.url }}" alt="img">
                    </div>
                    {% else %}
                    <div class="picture">
                        <img src="{{ article.picture_list.url}}" alt="img">
                    </div>
                    {% endif %} -->

                    <div class="mobile-picture">
                        <img src="{{ article.picture_detail.url }}" alt="img">
                    </div>
                    <div class="picture">
                        <img src="{{ article.picture_list.url}}" alt="img">
                    </div>

                    
                    <div class="text-header">
                        <h3> {{ article.title }} </h3>
                        <p>{{ article.brief }}</p>

                    </div>
                    <div class="post-items">
                        <h4>{{ article.date|to_jalali }}</h4>
                        <div class="rating">
                            <img src="{% static 'images/star-icon.png' %}" alt="img">
                            <b>{{ article.rate|arabic_digit }}</b>

                        </div>
                        <a href="{% url 'read' article.pk %}">بیشتر بخوانید</a>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="loading" style="display: none;">
            Loading...
        </div>

        {% if articles.has_next %}
            <a class="infinite-more-link" href="?page={{ articles.next_page_number }}">More</a>
        {% endif %}
    </div>
    <div id="side-bar">
        <h2>سوال دارید؟</h2>
        <p>
            اگر در بارد زندگی خود و یا از دوست دیگر
            میخواهید چیزی در باره تغیر بدانید
        </p>
        <a id="ask-button" href="{% url 'ask' %}">
            بپرسید
        </a>
        <div id="social-media-icons">
            <a href="https://www.instagram.com" target="_blank" class="instagram">
                <img src="{% static 'images/instagram-si.png' %}" alt="ins">
            </a>
            <a href="https://www.twitter.com" target="_blank" class="twitter">
                <img src="{% static 'images/twitter-si.png' %}" alt="tw">
            </a>
            <a href="https://www.facebook.com" target="_blank" class="facebook">
                <img src="{% static 'images/facebook-si.png' %}" alt="fb">
            </a>
        </div>
        <h3>کلیه حقوق معنوی و مادی سایت نزد عیش حیاتک محفوظ است.</h3>
    </div>
</div>

{% endblock content%}


