{% extends 'base.html' %}
{% load static %}


{% block content %}
<div id="article-content">
    <div id="picture"><img src="{% static 'images/article-pic-full-1.jpg' %}" alt="img"></div>
    <h2> یاد داشته باشید هر آنچه اکنون انجام می دهید،آینده ی شما را رقم خواهد زد</h2>
    <p class="topic-paragraphs">یکی از الگوهای رفتاری سالم در جامعه است. با توجه به اینکهآینده هر شخص تا حد باالیی به نگرش او بستگی دارد
        مثبت اندیشیدن یمتواند مقدمات موفقیت و کامیابی را برای او فراهم کند. البته الزم به ذکر استکه تناه مثبت اندیشیالزمه
        کار نیست بلکه به این معنی می باش د که نگشرمثبت در زندگی می تواند انسان را به سمت کامیابی سوق دهد. یکی دیگر زا اثرات
        مثبت اندییش مثبت اندیشی اثرات بسیار خوبی بر روی زندگی و حتی بدن ما دارد. با توجه به اینکهذهن قدرت باالیی دارد مثبت
        اندیشی رد بسیاری از مواقع غیرممکن ها را ممکن یمکند! طبق تحقیقات، نگرش و تفکرات ما تکلیف آینده مان را مشخص می کند.
        هباین معنی که مثبت اندیشی می تواند زمینه های اتفاقات مثبت در زندگی ما را فراهمکند. در زیر به چند مورد از اثرات مثبت
        اندیشی اشاره شده است عدم وجود مشکالت حاصل از افکار منفی مانند استرس، اضطراب و. ای

    <p class="topic-paragraphs">:نیروی مثبت اندییشبه راستی نیروی مثبت اندیشی چیست؟این نیرو همان نیرویی است هکایمان و توانایی احساس اطمینان
        را در درونت می نشاندپیام نیروی مثبت فکر کردن در واقع پیام ایمان و باور است و به ما یمگوید که صرفنظاز نوع محیط و
        شرایط شخصی باید قادر باشیم روین چه داریم تمرکز کنیم،روی این که چگونه اوضاع را متحوکنیم،متمرکز شویم و هچ کنیم که از
        کارهای خود نتایج درخشانی
    <p class="topic-paragraphs">بگیریم.و اما پیام منفی فکر کردن ویا نفوس بد یا هر چه اسمش اربگذارید این است که:تمرکز روی آن چه نداریم و یا
        تمرکز روی چگونیگچیزهایی که نمی خواهیم آن گونه باشد.با این حال اگر می خواهی منیففکر کنی یا نفوس بد بزنی مانند آ ن است
        که خودت را در برابراژدها(مشکالت و سختی ها)خلع سالح می کنی.حتی اگر مشکالت تو ارنابود نمی سازد،اما چون منفی فکر میکنی
        احساس نابودی و ناکایم

    <p class="topic-paragraphs">یکی از الگوهای رفتاری سالم در جامعه است. با توجه به اینکهآینده هر شخص تا حد باالیی به نگرش او بستگی دارد
        مثبت اندیشیدن یمتواند مقدمات موفقیت و کامیابی را برای او فراهم کند. البته الزم به ذکر استکه تناه مثبت اندیشیالزمه
        کار نیست بلکه به این معنی می باش د که نگشرمثبت در زندگی می تواند انسان را به سمت کامیابی سوق دهد. یکی دیگر زا اثرات
        مثبت اندییش مثبت اندیشی اثرات بسیار خوبی بر روی زندگی و حتی بدن ما دارد. با توجه به اینکهذهن قدرت باالیی دارد مثبت
        اندیشی رد بسیاری از مواقع غیرممکن ها را ممکن یمکند! طبق تحقیقات، نگرش و تفکرات ما تکلیف آینده مان را مشخص می کند.
        هباین معنی که مثبت اندیشی می تواند زمینه های اتفاقات مثبت در زندگی ما را فراهمکند. در زیر به چند مورد از اثرات مثبت
        اندیشی اشاره شده است عدم وجود مشکالت حاصل از افکار منفی مانند استرس، اضطراب و. ای

    <p class="topic-paragraphs">:نیروی مثبت اندییشبه راستی نیروی مثبت اندیشی چیست؟این نیرو همان نیرویی است هکایمان و توانایی احساس اطمینان
        را در درونت می نشاندپیام نیروی مثبت فکر کردن در واقع پیام ایمان و باور است و به ما یمگوید که صرفنظاز نوع محیط و
        شرایط شخصی باید قادر باشیم روین چه داریم تمرکز کنیم،روی این که چگونه اوضاع را متحوکنیم،متمرکز شویم و هچ کنیم که از
        کارهای خود نتایج درخشانی

    <p class="topic-paragraphs">بگیریم.و اما پیام منفی فکر کردن ویا نفوس بد یا هر چه اسمش اربگذارید این است که:تمرکز روی آن چه نداریم و یا
        تمرکز روی چگونیگچیزهایی که نمی خواهیم آن گونه باشد.با این حال اگر می خواهی منیففکر کنی یا نفوس بد بزنی مانند آ ن است
        که خودت را در برابراژدها(مشکالت و سختی ها)خلع سالح می کنی.حتی اگر مشکالت تو ارنابود نمی سازد،اما چون منفی فکر میکنی
        احساس نابودی و ناکایم

    <p class="topic-paragraphs"> یکی از الگوهای رفتاری سالم در جامعه است. با توجه به اینکهآینده هر شخص تا حد باالیی به نگرش او بستگی دارد
        مثبت اندیشیدن یمتواند مقدمات موفقیت و کامیابی را برای او فراهم کند. البته الزم به ذکر استکه تناه مثبت اندیشیالزمه
        کار نیست بلکه به این معنی می باش د که نگشرمثبت در زندگی می تواند انسان را به سمت کامیابی سوق دهد. یکی دیگر زا اثرات
        مثبت اندییش مثبت اندیشی اثرات بسیار خوبی بر روی زندگی و حتی بدن ما دارد. با توجه به اینکهذهن قدرت باالیی دارد مثبت
        اندیشی رد بسیاری از مواقع غیرممکن ها را ممکن یمکند! طبق تحقیقات، نگرش و تفکرات ما تکلیف آینده مان را مشخص می کند.
        هباین معنی که مثبت اندیشی می تواند زمینه های اتفاقات مثبت در زندگی ما را فراهمکند. در زیر به چند مورد از اثرات مثبت
        اندیشی اشاره شده است عدم وجود مشکالت حاصل از افکار منفی مانند استرس، اضطراب و. ا

    <p class="topic-paragraphs">:نیروی مثبت اندییشبه راستی نیروی مثبت اندیشی چیست؟این نیرو همان نیرویی است هکایمان و توانایی احساس اطمینان
        را در درونت می نشاندپیام نیروی مثبت فکر کردن در واقع پیام ایمان و باور است و به ما یمگوید که صرفنظاز نوع محیط و
        شرایط شخصی باید قادر باشیم روین چه داریم تمرکز کنیم،روی این که چگونه اوضاع را متحوکنیم،متمرکز شویم و هچ کنیم که از
        کارهای خود نتایج درخشانی

    <p class="topic-paragraphs">بگیریم.و اما پیام منفی فکر کردن ویا نفوس بد یا هر چه اسمش اربگذارید این است که:تمرکز روی آن چه نداریم و یا
        تمرکز روی چگونیگچیزهایی که نمی خواهیم آن گونه باشد.با این حال اگر می خواهی منیففکر کنی یا نفوس بد بزنی مانند آ ن است
        که خودت را در برابراژدها(مشکالت و سختی ها)خلع سالح می کنی.حتی اگر مشکالت تو ارنابود نمی سازد،اما چون منفی فکر میکنی
        احساس نابودی و ناکایم

    <p class="topic-paragraphs">یکی از الگوهای رفتاری سالم در جامعه است. با توجه به اینکهآینده هر شخص تا حد باالیی به نگرش او بستگی دارد
        مثبت اندیشیدن یمتواند مقدمات موفقیت و کامیابی را برای او فراهم کند. البته الزم به ذکر استکه تناه مثبت اندیشیالزمه
        کار نیست بلکه به این معنی می باش د که نگشرمثبت در زندگی می تواند انسان را به سمت کامیابی سوق دهد. یکی دیگر زا اثرات
        مثبت اندییش مثبت اندیشی اثرات بسیار خوبی بر روی زندگی و حتی بدن ما دارد. با توجه به اینکهذهن قدرت باالیی دارد مثبت
        اندیشی رد بسیاری از مواقع غیرممکن ها را ممکن یمکند! طبق تحقیقات، نگرش و تفکرات ما تکلیف آینده مان را مشخص می کند.
        هباین معنی که مثبت اندیشی می تواند زمینه های اتفاقات مثبت در زندگی ما را فراهمکند. در زیر به چند مورد از اثرات مثبت
        اندیشی اشاره شده است عدم وجود مشکالت حاصل از افکار منفی مانند استرس، اضطراب و. ا

    <p class="topic-paragraphs">:نیروی مثبت اندییشبه راستی نیروی مثبت اندیشی چیست؟این نیرو همان نیرویی است هکایمان و توانایی احساس اطمینان
        را در درونت می نشاندپیام نیروی مثبت فکر کردن در واقع پیام ایمان و باور است و به ما یمگوید که صرفنظاز نوع محیط و
        شرایط شخصی باید قادر باشیم روین چه داریم تمرکز کنیم،روی این که چگونه اوضاع را متحوکنیم،متمرکز شویم و هچ کنیم که از
        کارهای خود نتایج درخشانی

    <p class="topic-paragraphs">بگیریم.و اما پیام منفی فکر کردن ویا نفوس بد یا هر چه اسمش اربگذارید این است که:تمرکز روی آن چه نداریم و یا
        تمرکز روی چگونیگچیزهایی که نمی خواهیم آن گونه باشد.با این حال اگر می خواهی منیففکر کنی یا نفوس بد بزنی مانند آ ن است
        که خودت را در برابراژدها(مشکالت و سختی ها)خلع سالح می کنی.حتی اگر مشکالت تو ارنابود نمی سازد،اما چون منفی فکر میکنی
        احساس نابودی و ناکایم</p>
    <div id="stars" dir="ltr">
        <div class="star-source">
            <svg>
                <linearGradient x1="50%" y1="5.41294643%" x2="87.5527344%" y2="65.4921875%" id="grad">
                    <stop stop-color="#bf209f" offset="0%"></stop>
                    <stop stop-color="#d62a9d" offset="60%"></stop>
                    <stop stop-color="#ED009E" offset="100%"></stop>
                </linearGradient>
                <symbol id="star" viewBox="153 89 106 108">
                    <polygon id="star-shape" stroke="url(#grad)" stroke-width="5" fill="currentColor"
                             points="206 162.5 176.610737 185.45085 189.356511 150.407797 158.447174 129.54915 195.713758 130.842203 206 95 216.286242 130.842203 253.552826 129.54915 222.643489 150.407797 235.389263 185.45085"></polygon>
                </symbol>
            </svg>

        </div>
        <div class="star-container">
            <input type="radio" name="star" id="five">
            <label for="five">
                <svg class="star">
                    <use xlink:href="#star"/>
                </svg>
            </label>
            <input type="radio" name="star" id="four">
            <label for="four">
                <svg class="star">
                    <use xlink:href="#star"/>
                </svg>
            </label>
            <input type="radio" name="star" id="three">
            <label for="three">
                <svg class="star">
                    <use xlink:href="#star"/>
                </svg>
            </label>
            <input type="radio" name="star" id="two">
            <label for="two">
                <svg class="star">
                    <use xlink:href="#star"/>
                </svg>
            </label>
            <input type="radio" name="star" id="one">
            <label for="one">
                <svg class="star">
                    <use xlink:href="#star"/>
                </svg>
            </label>

        </div>
    </div>
    <button id="send-rate">ارسال ارزیابی</button>
    <div id="move-up-container">
        <div id="up-icon"><img src="{% static 'images/move-up-icon.png' %}"></div>
        <h3 style="cursor: pointer; border-bottom: 3px solid darkgrey; padding: 5px"><a style="all: unset" href="#">به نقطه شروع برگردید</a></h3>
    </div>
</div>
{% endblock content%}

